html,
body {
    margin: 0;
    font-size: 100%;
    background: #fff;
}

body a {
    text-decoration: none;
    color: #080808;

}

a:hover {
    text-decoration: none;
}

ul {
    padding: 0;
    margin-left: 20px;
}

li {
    list-style-type: none;
    color: #8c9398;
    letter-spacing: 1px;
}

.side-bar ul {
    margin-left: 0;
    padding-left: 0;
}

ul.stars li {
    display: inline-block;
}

ul.stars li a span {
    font-size: 0.7em;
    color: #6a6c6d;
    margin: 0 0.2em;
}

ul.stars li a span:hover {
    opacity: 0.8;
}

li span {
    color: #6a6c6d;
}

p {
    text-indent: 2em;
    text-align: justify;
}
.last-book a {
    color: #6a6c6d;
}

/* Checkbox stars */
.rating {
    overflow: hidden;
    vertical-align: bottom;
    display: inline-block;
    width: 155px;
    height: 30px;
}

.rating > input {
    opacity: 0;
    margin-right: -100%;
}

.rating > label {
    position: relative;
    display: block;
    float: right;
    /*background: url('../images/star-off-big.png');*/
    background-size: 30px 30px;
}

.rating > label:before {
    display: block;
    opacity: 0;
    content: '';
    width: 30px;
    height: 30px;
    /*background: url('../images/star-on-big.png');*/
    background-size: 30px 30px;
    transition: opacity 0.2s linear;
}

.rating > label:hover:before, .rating > label:hover ~ label:before, .rating:not(:hover) > :checked ~ label:before {
    opacity: 1;
}

.navbar {
    background-color: #dee2e6;
}

.page-item.active .page-link {
    background-color: #8c9398;
    border-color: #8c9398;
}

.page-link,
.page-link:hover
{
    color: #6a6c6d
}

.footer {
    background-color: #dee2e6;
}
.footer p {
    text-indent: 0;
}